.card {
    background-color: #f0f0f0 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

card-class {
    font-size: 16px;
    color: #666;
}

.card-description {
    font-size: 14px;
    color: #999;
}